head{
    background-color: #000000;
}

body{
    background-color: #000000;
}

h1 {
	font-size: 22px;
	font-family: 'Source Sans Pro', sans-serif;
	text-decoration: underline;
	margin: 0px 0px;
    color: rgb(95, 86, 86);
}
 
p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	margin-bottom: 0px;
    color: rgb(95, 86, 86);
}
a {
  color: rgb(95, 86, 86);
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
}
label {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	margin-bottom: 0px;
	font-weight: bold;
    color: rgb(95, 86, 86);
}
 
input[type=text], input[type=tel], input[type=email] {
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 4px;
    background-color: rgb(95, 86, 86);
}
 
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 4px;
    background-color: rgb(95, 86, 86);
    resize: none;
}

.ola1{
    text-decoration: none;
    display:inline-block;
    width:20%;
    padding:15px;
    border: 5px solid rgb(133, 119, 119);
    border-radius:10px;
    text-decoration: none;
    color:rgb(95, 86, 86);
    font-weight: bold;
    transition: all 0.9s;
    text-align: center;
    font-size: 15px;
}
.ola{
    text-decoration: none;
    display:inline-block;
    width:20%;
    padding:15px;
    border: 5px solid rgb(133, 119, 119);
    border-radius:10px;
    text-decoration: none;
    color:rgb(95, 86, 86);
    font-weight: bold;
    transition: all 0.9s;
    text-align: center;
    font-size: 15px;
}
.ola1:hover{
 
    background:rgb(54, 38, 38);
    color:rgb(179, 158, 158);
  }
  .ola:hover{
 
    background:rgb(54, 38, 38);
    color:rgb(179, 158, 158);
  }