
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');

html {
    /*font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
}